@use "abstracts" as *;

.main {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;

    @include breakpoint(large) {
        flex-direction: column;
    }
}

.active {
    transform: scale(1);
}
