@use "../abstracts" as *;

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    // @each $screen-size, $font-size in $type-scale {
    //     @if $screen-size == small {
    //         @each $size, $value in $font-size {
    //             --fs-#{$size}: #{$value};
    //         }
    //     } @else {
    //         @include breakpoint(medium) {
    //             @each $size, $value in $font-size {
    //                 --fs-#{$size}: #{$value};
    //             }
    //         }
    //     }
    // }
}
