@use "../abstracts" as *;

@each $color, $shades in $colors {
    @each $shade, $value in $shades {
        .text-#{$color}-#{$shade} {
            color: $value;
        }

        .bg-#{$color}-#{$shade} {
            color: $value;
        }
    }
}
