@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lato:wght@400;700;900&display=swap");

:root {
    --ff-primary: "Lato", sans-serif;
    --ff-accent: "Kalam", cursive;
}

body {
    font: {
        family: var(--ff-primary);
        weight: 400;
    }
}
