$breakpoints-up: (
    medium: "62.5em",
    large: "75em"
);

$breakpoints-down: (
    small: "62.4375em",
    medium: "74.9375em"
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}
