$colors: (
    dark: (
        200: hsl(207, 100%, 81%),
        300: hsl(207, 100%, 61%),
        400: hsl(207, 100%, 31%),
        500: hsl(207, 100%, 21%),
        600: hsl(207, 100%, 11%)
    ),
    medium: (
        200: hsl(115, 66%, 80%),
        300: hsl(115, 66%, 70%),
        400: hsl(115, 66%, 50%),
        500: hsl(115, 66%, 30%),
        600: hsl(115, 66%, 20%)
    ),
    medium-secondary: (
        200: hsl(187, 100%, 87%),
        300: hsl(187, 100%, 67%),
        400: hsl(187, 100%, 47%),
        500: hsl(187, 100%, 37%),
        600: hsl(187, 100%, 27%)
    ),
    light: (
        200: hsl(60, 92%, 81%),
        300: hsl(60, 92%, 71%),
        400: hsl(60, 92%, 51%),
        500: hsl(60, 92%, 31%),
        600: hsl(60, 92%, 21%)
    )
);
